@font-face {
    font-family: 'Nivea';
    src: url('../fonts/NiveaBoldOT.eot');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Nivea';
    src: url('../fonts/NiveaBookOT.eot');
    font-weight: 400;
    font-style: italic;
}